doctype html
    html 
      h2
        em Creation
        |  de profil
      p
      form(action='' method='POST')
        label(for='FName') Nom
        br
        input#FName(type='text' name='FName' required='')
        br
        br
        label(for='FSurname') Prénom
        br
        input#FSurname(type='text' name='FSurname' required='')
        br
        br
        label(for='FDate') Date de naissance
        br
        input#FDate(type='date' name='FDate' required='')
        br
        br
        label(for='FSex') Genre
        br
        input#Homme(type='Radio' name='FSex' value='Homme')
        label(for='Homme') Homme
        br
        input#Femme(type='Radio' name='FSex' value='Femme')
        label(for='Femme') Femme
        br
        input#Autres(type='Radio' name='FSex' value='Autres' checked='')
        label(for='Autres') Autres / Ne souhaite pas préciser
        br
        br
        label(for='FHeight') Taille (cm)
        br
        input#FHeight(type='number' name='FHeight' min='0' ,='' max='300' required='')
        br
        br
        label(for='FWeight') Poids (Kg)
        br
        input#FWeight(type='number' name='FWeight' min='0' ,='' max='300' required='')
        br
        br
        label(for='FMail') Adresse Email
        br
        input#FMail(type='email' name='FMail' pattern='[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+' required='')
        br
        br
        label(for='FPassword') Mot de passe
        br
        |                             (le mot de passe doit contenir au moins 8 caractères, dont au moins 2 majuscules, 1 caractère special (!@#$£€%^&*()\-_+.), 2 nombres et 3 minuscules) 
        br
        input#FPassword(type='password' name='FPassword' pattern='^(?=(.*[a-z]){3,})(?=(.*[A-Z]){2,})(?=(.*[0-9]){2,})(?=(.*[!@#$£€%^&*()\-__+.]){1,}).{8,}$' required='')
        br
        br
        input(type='submit' value='Valider')
      p
