html 
      h2 Creation de profil
    
      p
      form(action='' method='POST')
        label(for='Name') Nom
        br
        input#Name(type='text' name='Name' required='')
        br
        br
        label(for='Surname') Prénom
        br
        input#Surname(type='text' name='Surname' required='')
        br
        br
        label(for='BirthDate') Date de naissance
        br
        input#BirthDate(type='date' name='BirthDate' required='')
        br
        br
        label(for='Gender') Genre
        br
        input#Homme(type='Radio' name='Gender' value='Homme')
        label(for='Homme') Homme
        br
        input#Femme(type='Radio' name='Gender' value='Femme')
        label(for='Femme') Femme
        br
        input#Autres(type='Radio' name='Gender' value='Autres' checked='')
        label(for='Autres') Autres / Ne souhaite pas préciser
        br
        br
        label(for='Height') Taille (cm)
        br
        input#Height(type='number' name='Height' min='0' ,='' max='300' required='')
        br
        br
        label(for='Weight') Poids (Kg)
        br
        input#Weight(type='number' name='Weight' min='0' ,='' max='300' required='')
        br
        br
        label(for='EMail') Adresse EMail
        br
        input#EMail(type='EMail' name='EMail' pattern='[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+' required='')
        br
        br
        label(for='Password') Mot de passe
        br
        |                             (le mot de passe doit contenir au moins 8 caractères, dont au moins 2 majuscules, 1 caractère special (!@#$£€%^&*()\-_+.), 2 nombres et 3 minuscules) 
        br
        input#Password(type='password' name='Password' pattern='^(?=(.*[a-z]){3,})(?=(.*[A-Z]){2,})(?=(.*[0-9]){2,})(?=(.*[!@#$£€%^&*()\-__+.]){1,}).{8,}$' required='')
        br
        br
        input(type='submit' value='Valider')
      p
