extends layout

block content
  .left-image-decor
  section#testimonials.section
    .container
      .row
        .col-lg-8.offset-lg-2
          .center-heading
            h2
              em ERREUR : 
              |  Veuillez réésayer plus tard