extends layout

block content
  #welcome.welcome-area
    .header-text
      .container
        .row
          .left-text.col-lg-6.col-md-12.col-sm-12.col-xs-12
            h1
              | Le sport ne forge pas le caractère.
              br
              em Il le révèle.
            p
              | Sport Track est l'application qu'il vous faut. Celle-ci vous offre une base intéressante pour suivre les efforts physiques qu'il s'agisse de marche, de course, de randonnée de vélo, ou de sports intérieur ou extérieur, il est possible d'ajouter et suivre un grand nombre d'activités sportives à l'aide des différents dispositifs de suivi intégrés. Cet outil est une aide précieuse pour analyser vos différentes activités sportives au cours du temps
            a.main-button-slider(href='index.php?page=user_add_form') REJOINDRE SPORTTRACK
  