extends layout
block content
  .right-image-decor
  section#testimonials.section
    .container
      .row
        .col-lg-8.offset-lg-2
          .center-heading
            h2
              | Importer une 
              em activité
            p
              // erreur ici
            form(enctype='multipart/form-data' action='' method='POST')
              label(for='userfile') Choisir un fichier à ajouter (format Json): 
              br
              input#userfile(type='file' name='userfile' accept='.json')
              br
              br
              input(type='submit' value='Envoyer')
            p
