extends layout
block content
  h2 Importer une activité
    p
      form(enctype='multipart/form-data' action='upload' method='POST')
        label(for='userfile') Choisir un fichier à ajouter (format Json): 
        input#userfile(type='file' name='userfile' accept='.json')
        br
        input(type='submit' value='Envoyer')
    p